<div class="container">
    <div class="heading-title heading-dotted text-center mb-20">
        <h2> SPEECH RECOGNITION</h2>
    </div>
    <nav class="nav ">
        
        <a class="nav-link" href="#createProfile" data-toggle="tab">CREATE A PROFILE</a>
         <a class="nav-link " href="#get_profile"data-toggle="tab">GET A PROFILE</a>
        <a class="nav-link" href="#identification"data-toggle="tab">IDENTITY CHECK</a>
        <a class="nav-link " href="#speechtotext"data-toggle="tab">SPEECH TO TEXT</a>
       
    </nav>
    <div class="tab-content" style="min-height:300px">
            <div class="tab-pane active" id="createProfile">
                <div class="card-block">
                    <div class="row">
                        <form action="/speech/enrollment" method="post">
                            <div class="col-md-12 col-sm-8">
                                <div class="col-md-12 col-sm-8">
                                    <p>UPLOAD YOUR AUDIO FILE HERE</p>
                                   <input class="custom-file-upload" type="file" accept=".wav" name="enrollment_file" id="enrollment_file" data-btn-text="Select a File" /><span id ="span"></span></p>
                                </div>
                                <%= text_field_tag 'user_name' %>
                                <%= button_tag(type: 'submit', class: "btn btn-primary", id: "createProfilesBtn", name: "get_profiles_file") do %> CREATE PROFILES <% end %>
                            </div>
                        </form>                        
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="get_profile">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12 col-sm-8">
                            <div id="profiles-container" style="min-height:300px">
                            </div>
                            <%= button_tag(type: 'submit', class: "btn btn-primary", id: "getAllProfileBtn", name: "get_profiles_file") do %> GET ALL PROFILES <% end %>
                        </div>
                    </div>
                </div>
            </div>
                              

            <div class="tab-pane fade" id="speechtotext">
                <div class="card-block">
                    <%= form_tag 'speech/speechToText', multipart: true do %>
                        <div class="row">
                            <div class="col-md-12 col-sm-8">
                                <p>UPLOAD YOUR AUDIO FILE HERE</p>
                                <input type="file" id="filePicker" accept=".wav" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-8">
                                <td><button id="startRecognizeOnceAsyncButton">Start recognition</button></td>
                            </div>
                        </div>
                        <tr>
                            <td align="right" valign="top">Results</td>
                            <td><textarea id="phraseDiv" style="display: inline-block;width:500px;height:200px"></textarea></td>
                        </tr>
                    <% end %>
                </div>
            </div>

            <div class="tab-pane fade" id="identification">
                <div class="card-block">
                    <%= form_tag 'speech/identification', multipart: true do %>
                        <div class="row">
                            <div class="col-md-12 col-sm-8">
                                <p>UPLOAD YOUR AUDIO FILE HERE</p>
                                    <fieldset class="form-group">
      
                                        <legend class="col-form-label pt-0">Speaker</legend>
    
                                        <% @profile.each do |p| %>
                                       
                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                <input class="custom-control-input" type="checkbox" name="profile_id" id="profile_id" value="0">
                                                <label class="custom-control-label" for="profile_id" ><%=p.user_name%></label>
                                            </div>
                                        <% end %>
                                        
                                        <%# <div class="custom-control custom-checkbox custom-control-inline">
                                        <input class="custom-control-input" type="checkbox" name="profile_id" id="profile_id2" value="dc53bdab-feef-4310-aefd-b5f8581ddd6e" >
                                        <label class="custom-control-label" for="profile_id2">Marie-Eve</label>
                                        </div>
                                        <div class="custom-control custom-checkbox custom-control-inline">
                                        <input class="custom-control-input" type="checkbox" name="profile_id" id="profile_id3" value="f30c4fde-4431-497d-83c1-4ab89f19fc07" >
                                        <label class="custom-control-label" for="profile_id3">Emmanuel</label>
                                        </div> %>
                                        
                                        <%# <small class="form-text text-muted">Collection as inline check boxes example</small> %>
                                    </fieldset>
                                    <p><input class="custom-file-upload" type="file" accept="audio/*" name="identification_file" id="identification_file" data-btn-text="Select a File" /><span id ="span"></span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-8">
                                <%= button_tag(type: 'submit', class: "btn btn-primary", id: "ghj")  do %> IDENTIFY USERS <% end %>

                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>

<script>
    window.addEventListener('load', function () {
        document.getElementById('getAllProfileBtn').addEventListener("click", function(event){
            console.log("ssfshserhetehefgrgr")
            $.ajax({
                type: "GET",
                url: "/speech/get_profile",
                dataType: "json",
                contentType: "application/json",
                success: function(xht){
                    
                    console.log(xht);

                    var container = $("#profiles-container")
                    container.html("");

                    var table = $("<table/>")
                    table.attr("class","table")

                    //build header
                    var thead  = $("<thead/>")
                    thead.attr("class","thead-dark")
                    table.append(thead);
                    

                    var theadtr = $("<tr/>")
                    var theadth1 = $("<th>createdDateTime<th/>")
                    //theadth1.attr("scope","col")
                    var theadth2 = $("<th>profileId<th/>")
                // theadth2.attr("scope","col")
                    var theadth3 = $("<th>enrollmentsCount<th/>")
                // theadth3.attr("scope","col")
                    var theadth4 = $("<th>locale<th/>")
                // theadth4.attr("scope","col")
                    var theadth5 = $("<th>enrollmentsSpeechLength<th/>")
                //  theadth5.attr("scope","col")

                    theadtr.append(theadth1)
                    theadtr.append(theadth2)
                    theadtr.append(theadth3)
                    theadtr.append(theadth4)
                    theadtr.append(theadth4)
                    theadtr.append(theadth5)
                    thead.append(theadtr);

                    //build tabl body
                    for(x in xht.profiles){
                        var trbd = $("<tr/>")
                        console.log(xht.profiles[x])
                        var item = xht.profiles[x];
                        trbd.append($('<td>'+ item.createdDateTime + '</td>'));
                        trbd.append("<td/>")
                        trbd.append($('<td>'+ item.profileId + '</td>'));
                        trbd.append("<td/>")
                        trbd.append($('<td>'+ item.enrollmentsCount + '</td>'));
                        trbd.append("<td/>")
                        trbd.append($('<td>'+ item.locale + '</td>'));
                        trbd.append("<td/>")
                        trbd.append($('<td>'+ item.enrollmentsLength + '</td>'));
                        trbd.append("<td/>")
                        table.append(trbd);
                    }
            
                    container.append(table)

                var selector = document.getElementById("intervention_building_id")
                $(selector).html('<option value="-1">Select building</option>')
                $(selector).append($.map(xht, function(item){
                    return $('<option/>', {id: item.id,value: item.id, text: item.id+" - "+item.adm_contact_full_name});
                }));
                }
            });
                
        })
        // document.getElementById('createProfilesBtn').addEventListener("click", function(event){
        //     console.log("CREATE BUTTON DETECTED")
        //     $.ajax({
        //         type: "POST",
        //         url: "/speech/enrollment",
        //         dataType: "json",
        //         contentType: "application/json",
        //         success: function(xht){
                    
        //             console.log(xht);
        //             var container =  $("#createContainer")
        //             container.html("")

        //             secondDivContainer =  $("<div/>")
        //             secondDivContainer.attr("class","row")

        //             // secondDivContainer.append($('<div class="col-6"><label><h4>createdDateTime: </h4></label></div><div class="col-6"><label>' + xht.createdDateTime + '</label></div'));
        //             // secondDivContainer.append($('<div class="col-6"><label><h4>enrollmentStatus: </h4></label></div><div class="col-6"><label>' + xht.enrollmentStatus + '</label</div>')); 
        //             // secondDivContainer.append($('<div class="col-6"><label><h4>enrollmentsCount: </h4></label></div><div class="col-6"><label>' + xht.enrollmentsCount + '</label></div'));
        //             // secondDivContainer.append($('<div class="col-6"><label><h4>enrollmentsSpeechLength: </h4></label></div><div class="col-6"><label>' + xht.enrollmentsSpeechLength + '</label></div'));
        //             // secondDivContainer.append($('<div class="col-6"><label><h4>profileId: </h4></label></div><div class="col-6"><label>' + xht.profileId + '</label></div'));
        //             // secondDivContainer.append($('<div class="col-6"><label><h4>remainingEnrollmentsSpeechLength: </h4></label></div><div class="col-6"><label>'+ xht.remainingEnrollmentsSpeechLength + '</label>'));
        //             // secondDivContainer.append($('<div class="col-6"><label><h4>locale: </h4></label></div><div class="col-6"><label>' + xht.locale + '</label></div'));
        //             // secondDivContainer.append($('<div class="col-6"><label><h4>modelVersion:</h4></label></div><div class="col-6"><label>' + xht.modelVersion + '</label></div'));

        //             container.append(secondDivContainer)
        //         }
        //     })
        //  })   
    })
</script>

  <script>
    // status fields and start button in UI
    var phraseDiv;
    var startRecognizeOnceAsyncButton;
    var filePicker, audioFile;

    // subscription key and region for speech services.
    var subscriptionKey, serviceRegion;
    var SpeechSDK;
    var recognizer;

    document.addEventListener("DOMContentLoaded", function () {
      startRecognizeOnceAsyncButton = document.getElementById("startRecognizeOnceAsyncButton");
      phraseDiv = document.getElementById("phraseDiv");
      filePicker = document.getElementById("filePicker");
      filePicker.addEventListener("change", function () {
          audioFile = filePicker.files[0];
          startRecognizeOnceAsyncButton.disabled = false;
      });

      startRecognizeOnceAsyncButton.addEventListener("click", function () {
        startRecognizeOnceAsyncButton.disabled = true;
        phraseDiv.innerHTML = "";

        var speechConfig = SpeechSDK.SpeechConfig.fromSubscription("6707a37608394bba866355675860c8d8", "southcentralus");

        speechConfig.speechRecognitionLanguage = "en-US";
        var audioConfig  = SpeechSDK.AudioConfig.fromWavFileInput(audioFile);
        recognizer = new SpeechSDK.SpeechRecognizer(speechConfig, audioConfig);

        recognizer.recognizeOnceAsync(
          function (result) {
            startRecognizeOnceAsyncButton.disabled = false;
            phraseDiv.innerHTML += result.text;
            window.console.log(result);

            recognizer.close();
            recognizer = undefined;
          },
          function (err) {
            startRecognizeOnceAsyncButton.disabled = false;
            phraseDiv.innerHTML += err;
            window.console.log(err);

            recognizer.close();
            recognizer = undefined;
          });
      });

      if (!!window.SpeechSDK) {
        SpeechSDK = window.SpeechSDK;
        startRecognizeOnceAsyncButton.disabled = false;

        document.getElementById('content').style.display = 'block';
        document.getElementById('warning').style.display = 'none';
      }
    });
  </script>
