
<div class="container">
    <div class="heading-title heading-dotted text-center mb-20">
        <h2> SPEECH RECOGNITION</h2>
    </div>
    <nav class="nav ">
        
        <a class="nav-link" href="#createProfile" data-toggle="tab">CREATE A PROFILE</a>
        <a class="nav-link" href="#identification"data-toggle="tab">IDENTITY CHECK</a>
        <a class="nav-link " href="#speechtotext"data-toggle="tab">SPEECH TO TEXT</a>
       
    </nav>
    <div class="tab-content" style="min-height:300px">
    <%#  ========== CREATE PROFILE TAB ================= %>
            <div class="tab-pane fade" id="createProfile">
                <div class="card-block">
                    <%= form_tag 'speech/enrollment', multipart: true do %>
                        <div class="row">
                            <div class="col-md-12 col-sm-8">
                                <p>UPLOAD YOUR AUDIO FILE HERE</p>
                                    <fieldset class="form-group">
                                        <legend class="col-form-label pt-0">Profil</legend>
                                    </fieldset>
                                    <p> <input type="text" name="user_name" id="user_name"> </p>
                                    <p><input class="custom-file-upload" type="file" accept="audio/*" name="enrollment_file" id="enrollment_file" data-btn-text="Select a File" /><span id ="span"></span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-8">
                                <%= button_tag(type: 'submit', class: "btn btn-primary", id: "ghj")  do %> IDENTIFY USERS <% end %>

                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
                              
    <%# ==============SPEECH TO TEXT TAB ================= %>
            <div class="tab-pane fade" id="speechtotext">
                <div class="card-block">
                    <%= form_tag 'speech/speechToText', multipart: true do %>
                        <div class="row">
                            <div class="col-md-12 col-sm-8">
                                <p>UPLOAD YOUR AUDIO FILE HERE</p>
                                <input type="file" id="filePicker" accept=".wav" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-8">
                                <td><button id="startRecognizeOnceAsyncButton">Start recognition</button></td>
                            </div>
                        </div>
                        <tr>
                            <td text-align="right" valign="top">Results</td>
                            <td><textarea id="phraseDiv" style="display: inline-block;width:500px;height:200px"></textarea></td>
                        </tr>
                    <% end %>
                </div>
            </div>
    <%# ===============INDENTIFICATION TAB ================ %>
            <div class="tab-pane fade" id="identification">
                <div class="card-block">
                    <%= form_tag 'speech/identification', multipart: true do %>
                        <div class="row">
                            <div class="col-md-12 col-sm-8">
                                <p>UPLOAD YOUR AUDIO FILE HERE</p>
                                    <fieldset class="form-group">
      
                                        <legend class="col-form-label pt-0">Speaker</legend>
                                        <div name="profilesArray">
                                            <% @profile.each do |p| %>
                                        
                                                <div class="custom-control custom-checkbox custom-control-inline">
                                                    <input class="custom-control-input identificationCheckbox" type="radio" name="profile_id" id="<%=p.id%>" value="<%=p.profile_id%>">
                                                    <label class="custom-control-label" for="<%=p.id%>" ><%=p.user_name%></label>
                                                </div>
                                            <% end %>
                                        </div>
                                    </fieldset>
                                    <p><input class="custom-file-upload" type="file" accept="audio/*" name="identification_file" id="identification_file" data-btn-text="Select a File" /><span id ="span"></span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-8">
                                <%= button_tag(type: 'submit', class: "btn btn-primary", id: "ghj")  do %> IDENTIFY USERS <% end %>

                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

<%# ===================== javascrip for speech to text tab =========================%>
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>

  <script>
    // status fields and start button in UI
    var phraseDiv;
    var startRecognizeOnceAsyncButton;
    var filePicker, audioFile;

    // subscription key and region for speech services.
    var subscriptionKey, serviceRegion;
    var SpeechSDK;
    var recognizer;

    document.addEventListener("DOMContentLoaded", function () {
      startRecognizeOnceAsyncButton = document.getElementById("startRecognizeOnceAsyncButton");
      phraseDiv = document.getElementById("phraseDiv");
      filePicker = document.getElementById("filePicker");
      filePicker.addEventListener("change", function () {
          audioFile = filePicker.files[0];
          startRecognizeOnceAsyncButton.disabled = false;
      });

      startRecognizeOnceAsyncButton.addEventListener("click", function () {
        startRecognizeOnceAsyncButton.disabled = true;
        phraseDiv.innerHTML = "";

        var speechConfig = SpeechSDK.SpeechConfig.fromSubscription("6707a37608394bba866355675860c8d8", "southcentralus");

        speechConfig.speechRecognitionLanguage = "en-US";
        var audioConfig  = SpeechSDK.AudioConfig.fromWavFileInput(audioFile);
        recognizer = new SpeechSDK.SpeechRecognizer(speechConfig, audioConfig);

        recognizer.recognizeOnceAsync(
          function (result) {
            startRecognizeOnceAsyncButton.disabled = false;
            phraseDiv.innerHTML += result.text;
            window.console.log(result);

            recognizer.close();
            recognizer = undefined;
          },
          function (err) {
            startRecognizeOnceAsyncButton.disabled = false;
            phraseDiv.innerHTML += err;
            window.console.log(err);

            recognizer.close();
            recognizer = undefined;
          });
      });

      if (!!window.SpeechSDK) {
        SpeechSDK = window.SpeechSDK;
        startRecognizeOnceAsyncButton.disabled = false;

        document.getElementById('content').style.display = 'block';
        document.getElementById('warning').style.display = 'none';
      }
    });
  </script>
